body {
    text-align: center;
}

.btn, .btn:hover {
    background-color: darkgreen;
    color: white;
}
table{
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
th{
    padding-right: 20px;
}
td{
    border: 1px black solid;
}
#sortbyName{
    display: none;
}
#sortbyPercent{
    display: none;
}